<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

	<title>Save Employee</title>
</head>

<body>
     
     <div class="container">
     
          <h3>美食之旅</h3>
          <hr>
          
          <p class="h4 mb-4">編輯店家</p>
          
          
          <!-- add hidden form field to handle the update-->
          
          <form action="#" th:action="@{/foods/save}"
                           th:object="${foods}" method="POST" >
                           
                 <!-- add hidden form field to handle the update-->
                 <input type="hidden" th:field="*{id}">
                           
                 <input type="text" th:field="*{name}"
                        class="form-control mb-4 w-25" placeholder="店名">     
                        
                 <input type="text" th:field="*{address}"
                        class="form-control mb-4 w-25" placeholder="地址">  
                        
                 <input type="text" th:field="*{comment}"
                        class="form-control mb-4 w-25" placeholder="評論"> 
                        
                 <button type="submit" class="btn btn-info col-2">儲存</button>
                 
          </form>
          
          <hr>
          
          <a th:href="@{/foods/list}">返回</a>
     
     </div>

</body>

</html>